/* #region RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region COMMON*/

.container {
    width: 1380px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100%/3 - 40px);
    border: 2px solid black;
    margin: 50px 20px;
}

.main-image {
    max-width: 100%;
    display: block;
}

.hover-image {
    max-width: 100%;
}

/* #endregion COMMON*/

/* #region HEADER*/
/* #endregion HEADER*/

/* #region MAIN*/

.image-container {
    position: relative;
}

.main-image {
    position: absolute;
}

main li {
    list-style-type: none;
}

li.marchio,
li.price {
    font-size: 10px;
}

li.product-name {
    font-size: 12px;
}

li.price {
    color: red;
}

/* #endregion MAIN*/

/* #region FOOTER*/
/* #endregion FOOTER*/